{% extends 'base.html.twig' %}

{% block title %}Accueil - CRUDcroustillant{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur CRUDcroustillant !</h1>
        <p>Votre application Symfony est maintenant prête.</p>
        <img src="{{ asset('images/burger.webp') }}" alt="Un délicieux burger" width="400">
    </div>
{% endblock %}